<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="color-scheme" content="light dark" />
    <title>Intro to Full Stack</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
  </head>
  <body>
    <header class="container">
      <hgroup>
        <h1>ACM Dev</h1>
        <p>Intro to Full Stack Development</p>
      </hgroup>

      <nav>
        <div>
          <a href="/">Home</a>
          <br />
          <a href="/hello">Hello</a>
          <br />
          <a href="/events">Events</a>
        </div>
      </nav>
    </header>

    <main class="container">
      <h1>Hello, {{ name }}!</h1>
    </main>
  </body>
</html>
